<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086378208337-bs6gtvelj3kmvb8nsa6ke5fcsbmeb57s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086378208337-bs6gtvelj3kmvb8nsa6ke5fcsbmeb57s</string>
	<key>API_KEY</key>
	<string>AIzaSyBp9VGDm6FCD51VUoCC51ppl8vnhHHfZHU</string>
	<key>GCM_SENDER_ID</key>
	<string>1086378208337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer.store.FlyShop</string>
	<key>PROJECT_ID</key>
	<string>flyshop-4e6ea</string>
	<key>STORAGE_BUCKET</key>
	<string>flyshop-4e6ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086378208337:ios:c7cb158edb36b25df61c70</string>
	<key>DATABASE_URL</key>
	<string>https://flyshop-4e6ea.firebaseio.com</string>
</dict>
</plist>